.spinner {
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(24, 21, 21, 0.6); 
}

#postcontainer .card {
    border: 1px solid #ddd;
    border-radius: 8px;
    transition: 0.2s ease-in-out;
    height: 100%;
}

#postcontainer .card:hover {
    box-shadow: 0 4px 12px rgba(0,0,0,0.30);
    transform: translateY(-10px);
}


.card-header {
    font-weight: bold;
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.card-body {
    font-size: 14px;
    color: #444;
    max-height: 70px;       
    overflow: hidden;
}


.card-footer {
    background: #f8f8f8;
    border-top: 1px solid #eee;
}
